html {
    overflow-y: scroll;
}

.x-navigation > li.xn-logo > a:first-child {
    background-color: transparent;
}
.x-navigation > li.xn-logo > a:first-child:hover {
    background-color: transparent;
}

.page-content-wrap {
    padding-bottom: 30px;
}
.footer-main {
    padding: 10px 0;
}
.order-item {
    padding:10px 0;
    margin-bottom: 2px;
    border-top: 1px dashed #e8e8e8;
}
.order-item:first-child {
    border-top: none;
}
.order-item.viewed {
    background-color: #feffe1;
}
.order-item .row:first-child {
    margin-bottom: 10px;
}

#login-form .error {
    font-weight: bold;
}

.xn-logo {
    height: 50px;
}

.footer-main {
    background-color: #33414e;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer-main .copyright {
    padding-left: 215px;
}


@media only screen and (max-width: 1024px) {
    .footer-main .copyright {
        padding-left: 0;
    }
}

.orderItem {
    margin-top: 10px;
}
.add-order-item {
    position: relative;
    top: -28px;
    margin-right: 160px;
}
.remove-order-item {
    margin-top: 23px;
}

.order-item .row {
    min-height: 75px;
}