.page-content-wrap {
    padding-bottom: 30px;
}
.footer-main {
    padding: 10px 0;
}
.order-item {
    padding:10px 0;
    margin-bottom: 2px;
    border-top: 1px dashed #e8e8e8;
}
.order-item:first-child {
    border-top: none;
}
.order-item.viewed {
    background-color: #dff0d8;
}

#login-form .error {
    font-weight: bold;
}