h1 {
    margin: 0 0 10px 0;
}

.form-horizontal .help-block {
    margin: 0 0 20px 0;
}

.search-form {
    margin: 20px 0 0 0;
}

.tree ol.sortable {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tree ol {
    margin: 0 0 0 40px;
    padding: 0;
}

.tree li {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    float: left;
    width: 100%;
}

.tree div {
    background: #F9F9F9;
    background: -moz-linear-gradient(top, #F9F9F9 0%, #EFEFEF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F9F9F9), color-stop(100%, #EFEFEF));
    background: -webkit-linear-gradient(top, #F9F9F9 0%, #EFEFEF 100%);
    background: -o-linear-gradient(top, #F9F9F9 0%, #EFEFEF 100%);
    background: -ms-linear-gradient(top, #F9F9F9 0%, #EFEFEF 100%);
    background: linear-gradient(top, #F9F9F9 0%, #EFEFEF 100%);
    -webkit-box-shadow: inset 0px 1px 0px 0px white;
    box-shadow: inset 0px 1px 0px 0px white;
    border: 1px solid #E2E2E2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    display: block;
    padding: 5px 15px;
}

.tree i.icon-move {
    cursor: move;
    margin: 2px 5px;
}

.placeholder {
    border: 1px dashed #4183C4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.panel-w  a {
    text-decoration: none;
}

.panel-w a:hover {
    text-decoration: none;
}

.tree {
    margin: 10px 0;
}

.form-horizontal .wys {
    margin-left: 180px;
    margin-bottom: 10px;
}

.form-vertical .wys {
    display: block;
    clear: both;
    margin-bottom: 10px;
}

.modal {
    width: 1000px;
    margin: -300px 0 0 -500px;
}

#confirm-dialog {
    width: 500px;
    margin: -150px 0 0 -250px;
}

.modal-body {
    max-height: 600px;
}

.alert.alert-block {
    padding: 8px 35px 8px 14px;
}

.fileupload-new {
    margin: 0 0 10px 0;
}

.ff-thumb {
    width: auto;
    float:left;
}

.ff-thumb-label {
    color: gray;
    font-size: 10px;
    text-transform: uppercase;
}

.modal {
    display: none;
}

.wmk_grid ul li {
    display: block;
    margin: 0 7px 7px 0;
    width: 200px;
    float: left;
}

.fupload {
    margin-top: 20px;
}

.uploadifyQueueItem {
    background-color: #fff;
    border: 2px solid #E5E5E5;
    font: 11px Verdana, Geneva, sans-serif;
    margin-top: 5px;
    padding: 10px;
    width: 350px;
    border-radius: 5px;

}

.uploadifyError {
    background-color: #FDE5DD !important;
    border: 2px solid #FBCBBC !important;
}

.uploadifyQueueItem .cancel {
    float: right;
}

.uploadifyQueue .completed {
    background-color: #E5E5E5;
}

.uploadifyProgress {
    background-color: #E5E5E5;
    margin-top: 10px;
    width: 100%;
}

.uploadifyProgressBar {
    background-color: #0099FF;
    height: 3px;
    width: 1px;
}

#passwordGen {
    width: 500px;
    margin: -100px 0 0 -250px;
}

.newsletter-row {
    margin: 30px 0;
    text-align: center;
}

#rowModal, #imageUpload {
    width: 500px;
    margin: -100px 0 0 -250px;
}

#image-row label {
    display: none;
}

.subscribers {
    margin: 0 0 30px 180px;
}

#sendNewsletter {
    margin-top: 50px;

}